@charset "UTF-8";

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('resources/fonts/glyphicons-halflings-regular.eot');
	src: url('resources/fonts/glyphicons-halflings-regular.eot?#iefix')
		format('embedded-opentype'),
		url('resources/fonts/glyphicons-halflings-regular.woff')
		format('woff'), url('../fonts/glyphicons-halflings-regular.ttf')
		format('truetype'),
		url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular')
		format('svg');
}

.container {
	padding: 70px;
	margin-left: 200px
}

.nav-top {
	height: 50px;
	background-color: #ffffff;
}

.form-coordonnees {
	background-color: #DBDEDD;
	padding: 50px;
	margin-top: 50px"
}

.form-element {
	margin: 10px;
}

.form-submit {
	margin: 30px;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('/resources/fonts/glyphicons-halflings-regular.eot');
	src: url('/resources/fonts/glyphicons-halflings-regular.eot?#iefix')
		format('embedded-opentype'),
		url('/resources/fonts/glyphicons-halflings-regular.woff')
		format('woff'), url('../fonts/glyphicons-halflings-regular.ttf')
		format('truetype'),
		url('/resources/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular')
		format('svg');
}